$headerColor: #FCFCFA;
$contentColor: #E3E6E3;
$addCartColor: #4D5549;
$whiteColor: #ffffff;
$cartBorderBottom: #dddbdb;
$totalCartColor: #2a2a2a;
$checkoutBtnColor: rgb(75, 85, 72);
$blackColor: #000000;